<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="SP_Projetos" value="EC_Manager" />
    <add key="SP_Executor" value="C:\Program Files (x86)\Microsoft Visual Studio\2017\Common7\IDE\MSTest.exe" />
    <add key="SP_WebDrivers" value="C:\Users\jaderson.macedo\Desktop\Executor_Testes\Executor_Testes\bin\Debug\" />
    <add key="SA_Browser" value="Internet Explorer" />
    <add key="SA_Url" value="http://manager.stress.genesis.ecservice.rakutendev.com.br" />
    <add key="SA_User" value="rkadmin" />
    <add key="SA_Pass" value="01415000" />
    <add key="MD_Server" value="rak236" />
    <add key="MD_Catalogo" value="Automacao" />
    <add key="MD_User" value="sa" />
    <add key="MD_Pass" value="Rak456321" />
    <add key="BD_Server" value="" />
    <add key="BD_Catalogo" value="" />
    <add key="BD_User" value="" />
    <add key="BD_Pass" value="" />
  </appSettings>
  <connectionStrings><add name="Qualeidade" connectionString="metadata=res://*/Exec.Mod.Executor_Teste.csdl|res://*/Exec.Mod.Executor_Teste.ssdl|res://*/Exec.Mod.Executor_Teste.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=rak220;initial catalog=Qualidade_Automacao;user id=sa;password=Rak456321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="Qualidade" connectionString="metadata=res://*/Exec.Mod.Executor_Testes.csdl|res://*/Exec.Mod.Executor_Testes.ssdl|res://*/Exec.Mod.Executor_Testes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Rak236;initial catalog=Automacao;user id=sa_aut;password=Rak654321;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>